@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Hind:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


*{
   margin: 0;
   padding: 0;
}

body{
    font-family: "Hind", serif;
    box-sizing: border-box;
    color: #797979;
}

:root {
    --cus-sec-bg: #DD7109;
    --cus-bg-light-clr: #F6F4F1;
    --cus-border-color: #eaeaea;
    --cus-drk-bg-color: #07100B;
    --cus-dark-bg: #07100B;
    --cus-transpar-color: transparent;
    --cus-dark-overlay-color: rgba(0, 0, 0, 0.05);
    --cus-light-color: #ffffff;
    --cus-drk-txt-color: #262626;
    --cus-default-text-color: #797979;
    --cus-light-txt-clr: #ffffff;
    --cus-head-font-semibold: 600;
    --cus-head-font-bold: 700;
    --cus-border-radius-0: 0px;
    --cus-border-radius-15: 15px;
    --cus-border-radius-30: 30px;
    --cus-trans-dft: all .3s;
}


a{
    text-decoration: none;
    color: #07100B;
}

a:hover{
    color: #07100B;
}

/*==================================== start header section =============================== */

.custom-navbar-collapse{
    justify-content: space-between ;
}


.custom-navbar-nav{
    margin-left: 200px;
}

.nav-item{
    margin: 0px 15px;
}
.nav-link{
    cursor: pointer;
}
.menu-icon-item{
    display: block;
    width: 35px;
    height: 5px;
    margin: 5px 0px;
    background-color: var(--cus-sec-bg);
    border-radius: 10px;
}
.menu-icon{
    cursor: pointer;
}

.inner-page-hero-section{
    background-image: url(/images/inner-page.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.page-title{
    padding: 200px 0px;

}

.page-title h2{
font-size: 60px;
 color: #ffffff;
}

.overlay{
    background-color:#000000ba;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   z-index: 1;
}
/*==================================== end header section =============================== */

/*==================================== start hero section =============================== */
    
/*==================================== end end section =============================== */

/*==================================== start about section =============================== */

background-color: transparent;
    background-image: linear-gradient(180deg, #DD71091C 0%, #F6F4F1 57%);

    /*==================================== end end section =============================== */

    
/*==================================== start footer =============================== */

footer{
    background-color: rgb(16, 10, 8);
background-image: url(/images/footer-bg.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 30px 0px;

}
.footer-heading{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-bottom: 0px;
}

.footer-link{
 color: #ffffff;
}

.footer-link:hover{
    color: #ffffff;
}

.social-icon{
    width: fit-content;
    border: 1px solid #DD7109;
    padding: 5px 6px;
    border-radius: 53px;
}

.social-icon span{
    font-size: 12px;
    color: #ffffff;
}

.social-container{
    margin: 20px 0px;
}

.footer-content-heading{
    padding-left: 20px;
    font-size: 20px;   
    color: #ffffff; 
}

.footer-content-heading .ri-circle-fill{
    font-size: 10PX;
    color: #DD7109
}

.footer-list{
    list-style: none;
 padding: unset;
    color: #DD7109;
}
.footer-link{
    color: #ffffff;
}

.footer-link:hover{
    color: #DD7109;
}
/*==================================== end footer =============================== */